body{
	text-align: center;
}


/*titre*/
h1{
	text-align: center;
	background-color: purple;
}


.pagination {
  display: inline-block;
  margin-left: 420px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.partie{
	margin-left: 100px;
}


.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

h6{
	text-align: center;
	background-color: purple;
}
p{
	text-align: center;
	background-color: purple;
}